@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* CSS Document */
html {
    overflow-y: scroll;
    font-size: 14px;
    color: #000;
    line-height: 1.7;
    word-spacing: 0;
    font-family: 'Open Sans', Arial, Helvetica, Verdana, sans-serif;
    scrollbar-width: none;

}

html::-webkit-scrollbar {
    display: none;
}

body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th {
    text-align: left;
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    vertical-align: bottom;
    max-width: 100%;
}


input,
textarea,
select,
option,
optgroup,
button {
    border-radius: 0;
    outline: none;
    appearance: none;
}


/* Common */
.clearFix:after {
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    content: ".";
    zoom: 1;
}