header {
    height: 52px;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -moz-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    z-index: 99999;
}

#navigation {
    position: fixed;
    left: -240px;
    top: 0;
    height: 100%;
    width: 240px;
    -moz-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    background: #000;
    z-index: 999999;
}
#navigation #mobile-search {
    height: 52px;
    background: #353535;
    border-bottom: 1px solid #353535;
}
#navigation #mobile-search .icon {
    width: 20px;
    height: 20px;
    display: none;
    float: left;
    margin: 16px 10px 16px 20px;
}
#navigation #mobile-search input {
    display:none;
    width: 77%;
    height: 52px;
    border: none;
    padding: 0;
    background: #353535;
    color: #fff;
    font-size: 15px;
}
#navigation .nav-wrap {
    overflow-y: auto;
   
    height: calc(100% - 52px);
    position: relative;
}
#navigation .nav-wrap::-webkit-scrollbar{
    width:5px;
}
#navigation .nav-wrap::-webkit-scrollbar-thumb{
    background:#ccc;
}
#navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

#navigation ul li {
    background: #1f1f1f;
    border-bottom: 1px solid #353535;
    padding: 20px 0;
    position: relative;
    -moz-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}
#navigation ul li#store-link-mobile {
    display: none;
    position: relative;
}
#navigation ul li.has-children {
    -moz-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}

#navigation ul li a {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    display: inline-block;
    margin-left: 20px;
}
#navigation ul li#store-link-mobile a {
    color: #c82a2a;
    display: block;
}
#navigation ul li#store-link-mobile a::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 20px;
    width: 10px;
    height: 10px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

#navigation ul li ul#js-click,
#navigation ul li ul#js-click2,
#navigation ul li ul#js-click3
{
    display:none;
}
#navigation ul li.has-children::before {
    height: 15px;
    width: 1px;
    background: #fff;
    position: absolute;
    right: 27px;
    top: 26px;
    content: " ";
    -moz-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}
#navigation ul li.has-children.open::before {
    opacity: 0;
}
#navigation ul li.has-children::after {
    width: 15px;
    height: 1px;
    background: #fff;
    position: absolute;
    right: 20px;
    top: 33px;
    content: " ";
}
#navigation ul li ul li a {
    font-weight: 300;
    font-size: 14px;
}
#navigation .nav-bottom {
    padding: 40px 20px;
}
#navigation .nav-bottom .information-pages {
    margin-bottom: 10px;
    font-size: 14px;
}
#navigation .nav-bottom .information-pages a {
    display: block;
    color: #fff;
    opacity: .7;
}
#navigation .nav-bottom .icon-social {
    width: 22px;
    height: 22px;
    display: inline-block;
    opacity: .7;
    color: #fff;
    text-align: center;
    font-size: 22px;
    margin: 0 0 10px 5px;
}
#navigation .nav-bottom .icon-social:first-child {
    margin-left: 0;
}
.goog-te-gadget {
    font-family: arial;
    font-size: 11px;
    color: #666;
    white-space: nowrap;
}
.goog-te-gadget .goog-te-combo {
    margin: 4px 0;
}
#navigation .nav-bottom .goog-te-combo {
    display: block;
}
body.nav-open #navigation {
    left: 0;
}
body.nav-open #content {
    left: 240px;
}
body.nav-open header {
    left: 240px;
}
body.nav-open header #navigation-button {
    background: #353535;
}
body.nav-open header #navigation-button span:nth-child(1) {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate( 45deg );
    transform: rotate( 45deg );
    top: 25px;
}
body.nav-open header #navigation-button span:nth-child(2) {
    opacity: 0;
}
body.nav-open header #navigation-button span:nth-child(3) {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate( -45deg );
    transform: rotate( -45deg );
    top: 25px;
}


#content {
    -moz-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    position: relative;
    left: 0;
}
header {
    height: 52px;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -moz-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    z-index: 99999;
}
header #navigation-button {
    padding: 16px 25px;
    border-right: #1f1f1f solid 1px;
    height: 52px;
    float: left;
    width: 80px;
    display: block;
    position: relative;
}
header #navigation-button span {
    display: block;
    width: 30px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 25px;
    -moz-transition-duration: 400ms;
    -o-transition-duration: 400ms;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}
header #navigation-button span:nth-child(1) {
    top: 16px;
}
header #navigation-button span:nth-child(2) {
    top: 26px;
}
header #navigation-button span:nth-child(3) {
    top: 35px;
}
header #header-category {
    display: inline-block;
    padding: 15px 20px 16px;
    color: #d9d9d9;
}
header #logo {
    display: block;
    height: 52px;
    overflow: hidden;
    padding: 13px 0;
    width: 148px;
    position: absolute;
    top: 0;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
header .header-right {
    float: right;
    width: 180px;
}
header .header-right #header-search {
    position: absolute;
    top: 0;
    right: 143px;
    width: 40px;
    background: #000;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
header .header-right #header-search .open-search {
    width: 40px;
    float: left;
    margin: 16px 0;
    height: 20px;
    display: inline-block;
    padding-right: 20px;
    -moz-transition-duration:1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
header .header-right #header-search input {
    width: 0;
    display: inline;
    height: 52px;
    float: left;
    border: none;
    padding: 0;
    background: #000;
    color: #fff;
    font-size: 15px;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
header .header-right #header-search #search-close {
    padding: 20px 0;
    height: 52px;
    float: left;
    width: 0;
    display: block;
    position: relative;
    overflow: hidden;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
header .header-right #header-search #search-close span {
    display: block;
    width: 30px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
}
header .header-right #header-search #search-close span:nth-child(1) {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 25px;
}
header .header-right #header-search #search-close span:nth-child(2) {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 25px;
}
header .header-right #header-search.open {
  
    width: calc(100% - 235px);
}
header .header-right #header-search.open input {
    padding: 0 20px 0 0;
    width: calc(100% - 88px);
}
header .header-right #header-search.open #search-close {
    width: 28px;
}
header .header-right #store-link {
    color: #fff;
    background: #353535;
    line-height:52px;
    display: inline-block;
    margin-left: 40px;
    width: 140px;
    text-align:center;
}
#masonry-container{
    display:flex;
    flex-direction:row;
    flex-flow: row wrap;
    margin-top:52px;
}
#masonry-container .link-item{
    position:relative;
    width: calc(100% / 6);
}
#masonry-container .link-item::after{
    background: linear-gradient(to bottom,transparent 0%,rgba(0,0,0,.4) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
}

.link-item .item-text {
    
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 10px 30px;
    color: #fff;
    width: 100%;
    max-width: 320px;
    z-index: 2;
}
.link-item .item-text h2{
    font-size:18px;
    margin: 0 0 20px;
    line-height:1.1;
}
.link-item .item-text .info {
    font-size: 12px;
    margin: 0;
}
.link-item .item-text .info span {
    font-weight: 400;
    opacity: .7;
}
footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0px;
    z-index: 1001;
    display:block;
    background: rgba(255,255,255,.8);
}
footer #newsletter-signup {
    float: right;
    width: 20%;
    height: 52px;
}
footer #newsletter-signup input:not([type=submit]) {
    float: left;
    width: calc(100% - 100px);
    padding: 0 20px ;
    border: 0;
    line-height:52px;
    background: rgba(114,114,114,.8);
    color: #fff;
}

.button.button-black {
    background: #000 !important;
    color: #fff !important;
    border: none;
}
footer #newsletter-signup input[type=submit] {
    width: 100px;
    line-height: 52px;
    padding: 0;
}
@media only screen and (max-width:1286px) {
    #masonry-container .link-item {
        width: calc(100% / 4);
    }
    footer #newsletter-signup {
        width: 30%;
    }
}
@media only screen and (max-width:858px) {
    #masonry-container .link-item {
        width: calc(100% / 3);
    }
    .link-item .item-text h2 {
        font-size:15px;
    }
    footer #newsletter-signup {
        width:100%;
    }
}
@media only screen and (max-width:645px) {
    #masonry-container .link-item {
        width: calc(100% / 2);
    }
}
@media only screen and (max-width:560px) {
    #navigation #mobile-search .icon {
        display: block;
    }

    #navigation #mobile-search input {
        display: block;
    }

    #navigation ul li#store-link-mobile {
        display: block;
    }

    header #header-category {
        display: none;
    }

    header .header-right {
        width: auto;
    }

    .hidden-xs {
        display: none !important;
    }

    header .header-right #store-link {
        display: none;
    }
}
@media only screen and (max-width:430px){
    #masonry-container .link-item {
        width: calc(100% / 1);
    }
}